<%= render "./posts/header" %>
<div class= "div-table-announcements">
<h1>Annoucement number <%=@post.id %> seen by</h1>

<table class= "table">
    <thead>
    <tr>
        <th>Email</th>
        <th>Time</th>
    </tr>
    </thead>

<% @visits.each do |visit| %>
    <tbody>
    <tr>
        <% if visit.post_id_id == @post.id %>
            <td><%= visit.email %></td>
            <td><%= visit.created_at %></td>
        <% end %>
    </tr>
    </tbody>

<% end %>
</table>
</div>