@import "bootstrap-sprockets"; 
@import "bootstrap";

.header{
    background: #2B9FD1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
}

.header-ul{
    list-style: none;
    li{
        display: inline-block;
        padding: 0px 15px;
    }
    
    h3{
        color: white;
        padding-left: 20px; 
    }
    
}



.header li a{
    transition: all 0.3s ease 0s;
    height: 60px;
    color: white;
    font-weight: bold;
    padding-left: 40px;
    font-size: 17px;

}
.header li a:hover{
    color: #81EE90;
}